grpcio>=1.26.0
grpcio-tools>=1.26.0
protobuf==4.21.2
pydocstyle >= 6.1.1
mypy >= 0.910
mypy-protobuf >= 3.0.0
types-protobuf >= 0.1.14
grpc-stubs >= 1.24.7
pylint
pytest
pytest-ordering
pytest-asyncio